<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou entrar</h1>
      <p class="text-center lead">Faca login ou creie sua conta abaixo</p>

        <% include('includes/message'); %>
         
      <div class="row">
        <div class="col-lg">
          <h4>Faca seu cadastro</h4>
          <p>Se voce ainda nao tem conta preencha forumulario baixo</p>

          <form action="/login/register" method="POST">
            <div class="form-group">
              <label>Seu e-mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
              />
            </div>

             <div class="form-group">
              <label>Sua sehna</label>
              <input
                type="password"
                class="form-control"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary my-3">Criar minha conta</button>
          </form>

        </div>

        <div class="col-lg">
          <h4>Faca o seu Login</h4>
           <p>Se voce ja tem uma conta faca login abaixo</p>

          <form action="/login/login" method="POST">
            <div class="form-group">
              <label>Seu e-mail</label>
              <input
                type="email"
                class="form-control"
                name="email"
              />
            </div>

             <div class="form-group">
              <label>Sua sehna</label>
              <input
                type="password"
                class="form-control"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary my-3">Entrar</button>
          </form>
        </div>

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
